/* 컨텐츠영역 */
.container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .container .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
  }
.container .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: transparent;
    z-index: 30;
    transition: 0.35s;
}

/* 날씨 */
.sidebar__weather{
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar__weather span{
   color: white;
   font-size: 40px;
   margin-left: 20px;
}
.sidebar__weather .js-weather__info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather__icon{
  -webkit-filter:  opacity(0.5) drop-shadow(0 0 0 white);
  filter: opacity(0.5) drop-shadow(0 0 0 white);
  width: 70px;
  height: 70px;
}
.contents h4{
    font-size: 60px;
    color: white;
}

/* 시계 */
.js-clock{
margin-bottom: 30px;
}
.js-clock h1 {
  color: white;
  font-size: 170px;
  font-weight: 200;
  transition: color 0.5s ease-in-out;
}


