* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input[id="menuicon"] {
  display: none;
}

/* 헤더 */
header {
  width: 100%;
}
header > div {
  position: relative;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}
/* 각영역의 라벨(중앙정렬) */
.area_desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}




/* 체크 변화값 */
input[id="menuicon"]:checked ~ header .menubtn {
  z-index: 2;
}
input[id="menuicon"]:checked ~ header .menubtn span {
  background: #fff;
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(2) {
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(3) {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-135deg);
}
input[id="menuicon"]:checked ~ .container .sidebar {
  right: 0;
}
